@font-face {
    font-family: 'Lilita One';
    src: url('/LilitaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-weight: bold;
    src: url('/Nunito-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-weight: 300;
    src: url('/Nunito-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-weight: normal;
    src: url('/Nunito-Regular.ttf') format('truetype');
}

html, body, #root {
    margin: 0;
    height: 100%;
    width: 100%;
}

::placeholder {
    color: #CBD5E0;
}
